@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Konkhmer+Sleokchher&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Asap:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Konkhmer+Sleokchher&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Asap:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Konkhmer+Sleokchher&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
a{
  text-decoration: none;
  color: white;
}

/*! base css start  */
* {
  margin: 0;
}

body {
  font-family: "Archivo Black", sans-serif;
}

.container {
  background-color: rgb(17, 15, 25);
}

/*! base css end  */

/*! navpar start  */

.navbar {
  background-color: rgba(255, 255, 255, 0);
  height: 60px;
  color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  transition: backgorund-color 0.3s ease;
  z-index: 3;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
  transition: background-color 0.5s; /* Geçiş efekti için */
}

.navbar-wrapper.scrolled {
  background-color: rgb(3, 4, 12); /* Tamamen opak arkaplan */
  backdrop-filter: blur(100px);
}


.logo {
  width: 180px;
  color: rgb(91, 152, 233);
  margin-left: -30px;
}

.menu-list {
  color: white;
  display: flex;
  list-style: none;
  column-gap: 25px;
  padding: 0;
  z-index: 5;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 11px;
  cursor: pointer;
  text-shadow: 1px 1px 10px #000;
  text-decoration: none;
  font-family: "Asap";
}

.menu-list .active{
  color: rgb(91, 152, 233,);
}

.menu-list li:first-of-type {
  color: rgb(81, 139, 255);
  font-weight: bold;
}


.search-main {
  background-color: #5f5f5f98;
  height: 10px;
  width: 440px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  margin-left: 430px;
  margin-top: -22px;
  z-index: 3;
  box-shadow: 1px 3px 13px #000000;
  backdrop-filter: blur(20px);
}

  .tbox-search {
    float: left;
    background: none;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    width: 0;
    transition: width 0.3s ease-in;
  }

  .btn-search {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    float: right;
    width: 40px;
    height: 50px;
    border-radius: 14px;
    cursor: pointer;
  }

  .tbox-search:hover {
    background: none;
  }

  .search-main:hover > .tbox-search {
    width: 400px;
    background: none;
    transition: width 0.2s ease-in-out;
  }

.menu-list-item {
  cursor: pointer;
  text-decoration: none;
}
.menu-list-item:hover {
  font-weight: bold;
  color: rgb(81, 139, 255);
  transition: 0.2s ease all;
}

.menu-list-item.active {
  color: rgb(37, 146, 255);
  font-weight: bold;
}

.profile-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
  text-shadow:#000 1px 1px 10px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 20px;
}

.profile-text-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  line-height: 1;
  font-size: 12px;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  position: relative;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 1px;
  transition: ease-in 0.5s;
  z-index: 2;
}

/*! navpar end  */

/*! featured content start  */
.content-wrapper {
  margin-left: 60px;
}

.featured-content {
  background: url("img/dcstrangebckrnd.webp");
  padding: 75px 0;
  padding-left: 75px;
  height: calc(100vh - 100px) background-size 100% 100%;
  background-repeat: no-repeat;
  margin-top: -60px;
}

.featured-tittle {
  width: 500px;
}

.featured-desc {
  width: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 30px 600px;
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  margin-left: -1px
}

.featured-buttons button {
  padding: 10px 25px;
  border-radius: 2x;
  border: none;
  outline: none;
  cursor: pointer;
  column-gap: 10px;
  font-size: 16px;
  font-weight: bold;
}

.featured-buttons .info-button {
  background-color: rgba(0, 0, 0, 0.357);
  color: rgb(255, 255, 255);
  border-radius: 3px;
}

.featured-buttons .play-button {
  background-color: rgb(255, 255, 255);
  color: rgb(23, 20, 20);
  border-radius: 3px;
}
/*! featured end */


/*! movie list start */
.movie-list-container {
  margin-left: 70px;
  color: rgb(251, 251, 251);
  -ms-grid-layer: initial;
  z-index: 1;
  padding: 0px;
}

.movie-list {
  list-style: none;
  padding: 0;
  height: 200px;
  display: flex;
  align-items: center;
  column-gap: 30px;
  transform: translateX(21);
  transition: 0.5s all ease-in-out;
  z-index: 5;
}

.movie-list2 {
  list-style: none;
  padding: 0;
  height: 400px;
  width: 300px;
  display: flex;
  align-items: center;
  column-gap: 30px;
  transform: translateX(21);
  transition: 0.5s all ease-in-out;
  z-index: 6;
}

.movie-item-img2{
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: -0px 6px 25px rgb(0, 0, 0);
  transition: transform 0.3s ease-in-out, border-radius 1s ease; /* Border radius efektini ekleyelim */
  padding: 0;
}

.movie-item-img2:hover {
  transform: scale(1.01); /* Üzerine gelince 5% büyüme efekti */
  border-radius: 0px;
}

.movie-list-tittle {
  color: #ffffff;
  padding: 0px;
  z-index: 5;
  font-size: 28px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.infoyazi{
  font-family: "Lato";
  font-size: 12px;
  margin-left: 185px;
  margin-top: -22px;
}

.info-button2{
  font-size: 15px;
  background: none;
  color: #ffffff;
  outline: none;
  border: none;
  margin-left: -5px;
  margin-top: 10px;
  vertical-align: top;
}


.movie-list-wrapper {
  overflow: hidden;
  position: relative;
  height: auto;
}

.movie-item {
  position: relative;
}

.movie-item{
  position: relative;
  z-index: 2;
}

.movie-item-buttons {
  background-color: #000;
  padding:  0px 10px;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  bottom: 3%;
  left: 20px;
  display: flex;
  column-gap: 72px;
  opacity: 0;
  margin: -17px;
  transition: 0.5s ease-in-out;
}

.movie-item-buttons i {
  cursor: pointer;
  opacity: 0.5;
  font-size: 22px;
  transition: 0.5s all ease;
  z-index: 2;
  ;
}

.movie-item:hover .movie-item-tittle,
.movie-item:hover .movie-item-buttons {
  opacity: 1;
}

.movie-item:hover .movie-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
  z-index: 2;
}

.movie-item-img {
  width: 270px;
  transition: 0.5s ease-in-out;
  border-radius: 2%;
  box-shadow: -0px 6px 7px rgb(0, 0, 0);
}

.movie-item-tittle {
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: -5%;
  left: 10px;
  opacity: 0;
  transition:ease-in 0.3s;
}

.movie-item-tittle2 {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 102%;
  opacity: 1;
  
  transition:ease-in 0.3s;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.reklam-butonu{
  background-color: #526fff;
  color: white;
  box-shadow: 0px 3px 120px #2541bf;
  padding: 5px 20px;
  font-size: 15px;
  border-radius: 12px;
  margin-left: 55px;
  position:relative;
  display: inline-block;
  z-index: 5;
  bottom: 25px;
  cursor: pointer;
  left: -1px; /* Başlangıçta buton sağa doğru kaydırılarak gizleniyor */
  transition: left 0.5s ease-in-out; /* Transition burada left özelliği için tanımlanıyor */
}

.reklam-butonu:hover {
  left: 30px;
  transition: 0.5s all ease-in-out;
}

.reklam-butonu:hover {
  background-color: #718af8;
  transition: 0.3s all ease-in-out;
}


.movie-item-buttons i:hover {
  opacity: 2;
}

.arrow {
  background-color: rgba(34, 34, 34, 0.5);
  padding-top: 8px;
  padding-left: 8px;
  padding: 8px;
  width: 30px;
  display: flex;
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 70px;
  margin-right: 5px;
  transition: 0.3s ease all;
  cursor: pointer;
  z-index: 2;
  border-radius: 100px;
  backdrop-filter: blur(15px);
  box-shadow:#000 4px 4px 15px;

}

.arrow:hover {
  background-color: rgba(34, 34, 34, 0.367);
}

.arrow2 {
  background-color: rgba(34, 34, 34, 0.5);
  padding-top: 8px;
  padding-left: 8px;
  padding: 8px;
  width: 30px;
  display: flex;
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 160px;
  margin-right: 5px;
  transition: 0.3s ease all;
  cursor: pointer;
  z-index: 2;
  border-radius: 100px;
  backdrop-filter: blur(15px);
  box-shadow:#000 4px 4px 15px;
}

.arrow2:hover {
  background-color: rgba(34, 34, 34, 0.367);
}

/*! movie list end */

/*! dark mode start  */
.container.active {
  background-color: rgb(255, 255, 255);
}

.navbar.active {
  background-color: rgb(226, 225, 225);
  color: rgb(0, 0, 0);
}

.movie-list-tittle.active {
  color: rgb(0, 0, 0);
}

.toggle.active {
  background-color: #000;
}

.toggle-ball.active {
  background-color: #ffffff;
  transform: translateX(-20px);
}

.movie-list-filter select.active {
  background: rgb(255, 255, 255);
  color: #000000;
}
/*! dark mode end  */

/*! responsive start  */
@media only screen and (max-width: 800px) {
  .menu-container {
    display: none;
  }

  .featured-content {
    height: 50vh;
  }

  .featured-tittle {
    width: 250px;
  }

  .featured-desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    max-width: 450px;
    padding: 5;
  }
}
/*! responsive end  */

::-webkit-scrollbar {
  background: #2f2f2f;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1f2044;
  border-radius: 6px;
  width: 10px; /* Örnek olarak scrollbar genişliğinden 2px daha az olarak ayarlandı */
  box-shadow: inset 0 0 0px 2px #2f2f2f; /* Scrollbar thumb'unun iç kısmına iç gölge uygulayan kod */

}

.navbar-wrapper {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  

.butontext {
  font-size: 9px;
  margin-top: -40px;
  cursor: pointer;
  color: #ffffff;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.butontext:hover {
  color: #5168ff;
}

